<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTDMapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.hyst.dao.info.InfoEquipInfo_ViewDao" >

 	 <resultMap type="InfoEquipInfo_View" id="infoequipinfo_view" >
		<id column="id" property="id"/>
		<result column="orgId" property="orgId"/>
		<result column="staffId" property="staffId"/>
		<result column="sbXH" property="sbXH"/>
		<result column="placement" property="placement"/>
		<result column="secretLevelId" property="secretLevelId"/>
		<result column="useage" property="useage"/>
		<result column="useStateId" property="useStateId"/>
		<result column="infoMemo" property="infoMemo"/>
		<result column="isDelete" property="isDelete"/>
		<result column="parentId" property="parentId"/>
		<result column="orgName" property="orgName"/>
		<result column="staffOrgId" property="staffOrgId"/>
		<result column="staffName" property="staffName"/>
		<result column="accoutName" property="accoutName"/>
		<result column="staffOrgName" property="staffOrgName"/>
		<result column="staffOrgParentId" property="staffOrgParentId"/>
		<result column="secretLevelName" property="secretLevelName"/>
		<result column="secretLevelWeight" property="secretLevelWeight"/>
		<result column="secretLevelMemo" property="secretLevelMemo"/>
		<result column="useStateName" property="useStateName"/>
		<result column="useStateMemo" property="useStateMemo"/>
		<result column="orgPath" property="orgPath"/>
		<result column="uniqueID" property="uniqueID"/>
		<result column="manageAddr" property="manageAddr"/>
		<result column="startUsingTime" property="startUsingTime"/>
		<result column="serialNum" property="serialNum"/>
		<result column="isOVersionNum" property="isOVersionNum"/>
		<result column="orderTax" property="orderTax"/>
		<result column="keepSecretNumber" property="keepSecretNumber"/>
	</resultMap>
	
	<!-- 查询所有 java.util.Map-->
	<select id="list" parameterType="java.util.Map" resultType="com.hyst.vo.InfoEquipInfo_View">
		select * from InfoEquipInfo_View where isDelete = #{isDelete}
	</select>
	<!-- 根据ID删除 -->
	<delete id="delete" parameterType="com.hyst.vo.InfoEquipInfo_View">
		delete from user  where id=#{id} 
	</delete>
	<!-- 单个增加 -->
	<insert id="insert" parameterType="com.hyst.vo.InfoEquipInfo_View">
		insert into InfoEquipInfo_View (orgId,staffId,sbXH,placement,secretLevelId,useage,useStateId,infoMemo,isDelete,parentId,orgName,staffOrgId,staffName,accoutName,staffOrgName,staffOrgParentId,secretLevelName,secretLevelWeight,secretLevelMemo,useStateName,useStateMemo,orgPath,uniqueID,manageAddr,startUsingTime,serialNum,isOVersionNum,orderTax,keepSecretNumber) values (#{orgId},#{staffId},#{sbXH},#{placement},#{secretLevelId},#{useage},#{useStateId},#{infoMemo},#{isDelete},#{parentId},#{orgName},#{staffOrgId},#{staffName},#{accoutName},#{staffOrgName},#{staffOrgParentId},#{secretLevelName},#{secretLevelWeight},#{secretLevelMemo},#{useStateName},#{useStateMemo},#{orgPath},#{uniqueID},#{manageAddr},#{startUsingTime},#{serialNum},#{isOVersionNum},#{orderTax},#{keepSecretNumber})
	</insert>
	<!-- 动态根据ID更新 -->
	<update id="update" parameterType="com.hyst.vo.InfoEquipInfo_View">
		update InfoEquipInfo_View 
		<set>
		<if test="orgId != null">
			orgId=#{orgId},
		</if>
		<if test="staffId != null">
			staffId=#{staffId},
		</if>
		<if test="sbXH != null">
			sbXH=#{sbXH},
		</if>
		<if test="placement != null">
			placement=#{placement},
		</if>
		<if test="secretLevelId != null">
			secretLevelId=#{secretLevelId},
		</if>
		<if test="useage != null">
			useage=#{useage},
		</if>
		<if test="useStateId != null">
			useStateId=#{useStateId},
		</if>
		<if test="infoMemo != null">
			infoMemo=#{infoMemo},
		</if>
		<if test="isDelete != 0">
			isDelete=#{isDelete},
		</if>
		<if test="parentId != null">
			parentId=#{parentId},
		</if>
		<if test="orgName != null">
			orgName=#{orgName},
		</if>
		<if test="staffOrgId != null">
			staffOrgId=#{staffOrgId},
		</if>
		<if test="staffName != null">
			staffName=#{staffName},
		</if>
		<if test="accoutName != null">
			accoutName=#{accoutName},
		</if>
		<if test="staffOrgName != null">
			staffOrgName=#{staffOrgName},
		</if>
		<if test="staffOrgParentId != null">
			staffOrgParentId=#{staffOrgParentId},
		</if>
		<if test="secretLevelName != null">
			secretLevelName=#{secretLevelName},
		</if>
		<if test="secretLevelWeight != null">
			secretLevelWeight=#{secretLevelWeight},
		</if>
		<if test="secretLevelMemo != null">
			secretLevelMemo=#{secretLevelMemo},
		</if>
		<if test="useStateName != null">
			useStateName=#{useStateName},
		</if>
		<if test="useStateMemo != null">
			useStateMemo=#{useStateMemo},
		</if>
		<if test="orgPath != null">
			orgPath=#{orgPath},
		</if>
		<if test="uniqueID != null">
			uniqueID=#{uniqueID},
		</if>
		<if test="manageAddr != null">
			manageAddr=#{manageAddr},
		</if>
		<if test="startUsingTime != null">
			startUsingTime=#{startUsingTime},
		</if>
		<if test="serialNum != null">
			serialNum=#{serialNum},
		</if>
		<if test="isOVersionNum != null">
			isOVersionNum=#{isOVersionNum},
		</if>
		<if test="orderTax != 0">
			orderTax=#{orderTax},
		</if>
		<if test="keepSecretNumber != null">
			keepSecretNumber=#{keepSecretNumber},
		</if>
		</set>
 		 where id=#{id} 
	</update>
	<!-- 查询单个 -->
	<select id="getOne" resultType="com.hyst.vo.InfoEquipInfo_View">
		select * from InfoEquipInfo_View  where id=#{id} 
	</select>
	<!-- 动态查询 -->
	<select id="byOrder" resultType="com.hyst.vo.InfoEquipInfo_View">
		select * from InfoEquipInfo_View 
		<where>
			<if test=" orgId != null ">
			  and orgId=#{orgId}
			</if>
			<if test=" staffId != null ">
			  and staffId=#{staffId}
			</if>
			<if test=" sbXH != null ">
			  and sbXH=#{sbXH}
			</if>
			<if test=" placement != null ">
			  and placement=#{placement}
			</if>
			<if test=" secretLevelId != null ">
			  and secretLevelId=#{secretLevelId}
			</if>
			<if test=" useage != null ">
			  and useage=#{useage}
			</if>
			<if test=" useStateId != null ">
			  and useStateId=#{useStateId}
			</if>
			<if test=" infoMemo != null ">
			  and infoMemo=#{infoMemo}
			</if>
			<if test=" isDelete != 0 ">
			  and isDelete=#{isDelete}
			</if>
			<if test=" parentId != null ">
			  and parentId=#{parentId}
			</if>
			<if test=" orgName != null ">
			  and orgName=#{orgName}
			</if>
			<if test=" staffOrgId != null ">
			  and staffOrgId=#{staffOrgId}
			</if>
			<if test=" staffName != null ">
			  and staffName=#{staffName}
			</if>
			<if test=" accoutName != null ">
			  and accoutName=#{accoutName}
			</if>
			<if test=" staffOrgName != null ">
			  and staffOrgName=#{staffOrgName}
			</if>
			<if test=" staffOrgParentId != null ">
			  and staffOrgParentId=#{staffOrgParentId}
			</if>
			<if test=" secretLevelName != null ">
			  and secretLevelName=#{secretLevelName}
			</if>
			<if test=" secretLevelWeight != null ">
			  and secretLevelWeight=#{secretLevelWeight}
			</if>
			<if test=" secretLevelMemo != null ">
			  and secretLevelMemo=#{secretLevelMemo}
			</if>
			<if test=" useStateName != null ">
			  and useStateName=#{useStateName}
			</if>
			<if test=" useStateMemo != null ">
			  and useStateMemo=#{useStateMemo}
			</if>
			<if test=" orgPath != null ">
			  and orgPath=#{orgPath}
			</if>
			<if test=" uniqueID != null ">
			  and uniqueID=#{uniqueID}
			</if>
			<if test=" manageAddr != null ">
			  and manageAddr=#{manageAddr}
			</if>
			<if test=" startUsingTime != null ">
			  and startUsingTime=#{startUsingTime}
			</if>
			<if test=" serialNum != null ">
			  and serialNum=#{serialNum}
			</if>
			<if test=" isOVersionNum != null ">
			  and isOVersionNum=#{isOVersionNum}
			</if>
			<if test=" orderTax != 0 ">
			  and orderTax=#{orderTax}
			</if>
			<if test=" keepSecretNumber != null ">
			  and keepSecretNumber=#{keepSecretNumber}
			</if>
		</where> 
	</select>
 
</mapper>
