<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTDMapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.hyst.vo.InturnEquipInfoWithPropertyViewDao" >

 	 <resultMap type="InturnEquipInfoWithPropertyView" id="inturnEquipInfoWithPropertyView" >
		<id column="id" property="id"/>
		<result column="orgId" property="orgId"/>
		<result column="inUseStaffId" property="inUseStaffId"/>
		<result column="sbXH" property="sbXH"/>
		<result column="sbBM" property="sbBM"/>
		<result column="placement" property="placement"/>
		<result column="secretLevelId" property="secretLevelId"/>
		<result column="osInstallDate" property="osInstallDate"/>
		<result column="hardDiscNo" property="hardDiscNo"/>
		<result column="ip" property="ip"/>
		<result column="maC" property="maC"/>
		<result column="useStateId" property="useStateId"/>
		<result column="inturnEquipInfoMemo" property="inturnEquipInfoMemo"/>
		<result column="isDelete" property="isDelete"/>
		<result column="parentId" property="parentId"/>
		<result column="orgName" property="orgName"/>
		<result column="orgMemo" property="orgMemo"/>
		<result column="orgPath" property="orgPath"/>
		<result column="staffOrgId" property="staffOrgId"/>
		<result column="staffName" property="staffName"/>
		<result column="accoutName" property="accoutName"/>
		<result column="staffOrgName" property="staffOrgName"/>
		<result column="staffOrgParentId" property="staffOrgParentId"/>
		<result column="secretLevelName" property="secretLevelName"/>
		<result column="secretLevelWeight" property="secretLevelWeight"/>
		<result column="useStateName" property="useStateName"/>
		<result column="useStateMemo" property="useStateMemo"/>
		<result column="osName" property="osName"/>
		<result column="areaType" property="areaType"/>
		<result column="equipTypeId" property="equipTypeId"/>
		<result column="equipTypeName" property="equipTypeName"/>
		<result column="equipTypeRemark" property="equipTypeRemark"/>
		<result column="uniqueID" property="uniqueID"/>
		<result column="sjGRQ" property="sjGRQ"/>
		<result column="glCZ" property="glCZ"/>
		<result column="xnJ" property="xnJ"/>
		<result column="dyP" property="dyP"/>
		<result column="orderTax" property="orderTax"/>
		<result column="gq" property="gq"/>
		<result column="klJ" property="klJ"/>
		<result column="keepSecretNumber" property="keepSecretNumber"/>
	</resultMap>

	<!-- 根据ID删除 -->
	<delete id="delete" parameterType="com.hyst.vo.InturnEquipInfoWithPropertyView">
		delete from InturnEquipInfoWithProperty_View  where id=#{id} 
	</delete>
	<!-- 单个增加 -->
	<insert id="insert" parameterType="com.hyst.vo.InturnEquipInfoWithPropertyView">
		insert into InturnEquipInfoWithProperty_View (orgId,inUseStaffId,sbXH,sbBM,placement,secretLevelId,osInstallDate,hardDiscNo,ip,maC,useStateId,inturnEquipInfoMemo,isDelete,parentId,orgName,orgMemo,orgPath,staffOrgId,staffName,accoutName,staffOrgName,staffOrgParentId,secretLevelName,secretLevelWeight,useStateName,useStateMemo,osName,areaType,equipTypeId,equipTypeName,equipTypeRemark,uniqueID,sjGRQ,glCZ,xnJ,dyP,orderTax,gq,klJ,keepSecretNumber) values (#{orgId},#{inUseStaffId},#{sbXH},#{sbBM},#{placement},#{secretLevelId},#{osInstallDate},#{hardDiscNo},#{ip},#{maC},#{useStateId},#{inturnEquipInfoMemo},#{isDelete},#{parentId},#{orgName},#{orgMemo},#{orgPath},#{staffOrgId},#{staffName},#{accoutName},#{staffOrgName},#{staffOrgParentId},#{secretLevelName},#{secretLevelWeight},#{useStateName},#{useStateMemo},#{osName},#{areaType},#{equipTypeId},#{equipTypeName},#{equipTypeRemark},#{uniqueID},#{sjGRQ},#{glCZ},#{xnJ},#{dyP},#{orderTax},#{gq},#{klJ},#{keepSecretNumber})
	</insert>
	<!-- 动态根据ID更新 -->
	<update id="update" parameterType="com.hyst.vo.InturnEquipInfoWithPropertyView">
		update InturnEquipInfoWithProperty_View 
		<set>
		<if test="orgId != null">
			orgId=#{orgId},
		</if>
		<if test="inUseStaffId != null">
			inUseStaffId=#{inUseStaffId},
		</if>
		<if test="sbXH != null">
			sbXH=#{sbXH},
		</if>
		<if test="sbBM != null">
			sbBM=#{sbBM},
		</if>
		<if test="placement != null">
			placement=#{placement},
		</if>
		<if test="secretLevelId != null">
			secretLevelId=#{secretLevelId},
		</if>
		<if test="osInstallDate != null">
			osInstallDate=#{osInstallDate},
		</if>
		<if test="hardDiscNo != null">
			hardDiscNo=#{hardDiscNo},
		</if>
		<if test="ip != null">
			ip=#{ip},
		</if>
		<if test="maC != null">
			maC=#{maC},
		</if>
		<if test="useStateId != null">
			useStateId=#{useStateId},
		</if>
		<if test="inturnEquipInfoMemo != null">
			inturnEquipInfoMemo=#{inturnEquipInfoMemo},
		</if>
		<if test="isDelete != 0">
			isDelete=#{isDelete},
		</if>
		<if test="parentId != null">
			parentId=#{parentId},
		</if>
		<if test="orgName != null">
			orgName=#{orgName},
		</if>
		<if test="orgMemo != null">
			orgMemo=#{orgMemo},
		</if>
		<if test="orgPath != null">
			orgPath=#{orgPath},
		</if>
		<if test="staffOrgId != null">
			staffOrgId=#{staffOrgId},
		</if>
		<if test="staffName != null">
			staffName=#{staffName},
		</if>
		<if test="accoutName != null">
			accoutName=#{accoutName},
		</if>
		<if test="staffOrgName != null">
			staffOrgName=#{staffOrgName},
		</if>
		<if test="staffOrgParentId != null">
			staffOrgParentId=#{staffOrgParentId},
		</if>
		<if test="secretLevelName != null">
			secretLevelName=#{secretLevelName},
		</if>
		<if test="secretLevelWeight != null">
			secretLevelWeight=#{secretLevelWeight},
		</if>
		<if test="useStateName != null">
			useStateName=#{useStateName},
		</if>
		<if test="useStateMemo != null">
			useStateMemo=#{useStateMemo},
		</if>
		<if test="osName != null">
			osName=#{osName},
		</if>
		<if test="areaType != 0">
			areaType=#{areaType},
		</if>
		<if test="equipTypeId != null">
			equipTypeId=#{equipTypeId},
		</if>
		<if test="equipTypeName != null">
			equipTypeName=#{equipTypeName},
		</if>
		<if test="equipTypeRemark != null">
			equipTypeRemark=#{equipTypeRemark},
		</if>
		<if test="uniqueID != null">
			uniqueID=#{uniqueID},
		</if>
		<if test="sjGRQ != 0">
			sjGRQ=#{sjGRQ},
		</if>
		<if test="glCZ != 0">
			glCZ=#{glCZ},
		</if>
		<if test="xnJ != null">
			xnJ=#{xnJ},
		</if>
		<if test="dyP != null">
			dyP=#{dyP},
		</if>
		<if test="orderTax != 0">
			orderTax=#{orderTax},
		</if>
		<if test="gq != null">
			gq=#{gq},
		</if>
		<if test="klJ != null">
			klJ=#{klJ},
		</if>
		<if test="keepSecretNumber != null">
			keepSecretNumber=#{keepSecretNumber},
		</if>
		</set>
 		 where id=#{id}
	</update>
	<!-- 查询单个 -->
	<select id="getOne" resultType="com.hyst.vo.InturnEquipInfoWithPropertyView">
		select * from InturnEquipInfoWithProperty_View  where id=#{id} 
	</select>
	<!-- 动态查询 -->
	<select id="byOrder" resultType="com.hyst.vo.InturnEquipInfoWithPropertyView">
		select * from InturnEquipInfoWithProperty_View 
		<where>
			<if test=" orgId != null ">
			  and orgId=#{orgId}
			</if>
			<if test=" inUseStaffId != null ">
			  and inUseStaffId=#{inUseStaffId}
			</if>
			<if test=" sbXH != null ">
			  and sbXH=#{sbXH}
			</if>
			<if test=" sbBM != null ">
			  and sbBM=#{sbBM}
			</if>
			<if test=" placement != null ">
			  and placement=#{placement}
			</if>
			<if test=" secretLevelId != null ">
			  and secretLevelId=#{secretLevelId}
			</if>
			<if test=" osInstallDate != null ">
			  and osInstallDate=#{osInstallDate}
			</if>
			<if test=" hardDiscNo != null ">
			  and hardDiscNo=#{hardDiscNo}
			</if>
			<if test=" ip != null ">
			  and ip=#{ip}
			</if>
			<if test=" maC != null ">
			  and maC=#{maC}
			</if>
			<if test=" useStateId != null ">
			  and useStateId=#{useStateId}
			</if>
			<if test=" inturnEquipInfoMemo != null ">
			  and inturnEquipInfoMemo=#{inturnEquipInfoMemo}
			</if>
			<if test=" isDelete != 0 ">
			  and isDelete=#{isDelete}
			</if>
			<if test=" parentId != null ">
			  and parentId=#{parentId}
			</if>
			<if test=" orgName != null ">
			  and orgName=#{orgName}
			</if>
			<if test=" orgMemo != null ">
			  and orgMemo=#{orgMemo}
			</if>
			<if test=" orgPath != null ">
			  and orgPath=#{orgPath}
			</if>
			<if test=" staffOrgId != null ">
			  and staffOrgId=#{staffOrgId}
			</if>
			<if test=" staffName != null ">
			  and staffName=#{staffName}
			</if>
			<if test=" accoutName != null ">
			  and accoutName=#{accoutName}
			</if>
			<if test=" staffOrgName != null ">
			  and staffOrgName=#{staffOrgName}
			</if>
			<if test=" staffOrgParentId != null ">
			  and staffOrgParentId=#{staffOrgParentId}
			</if>
			<if test=" secretLevelName != null ">
			  and secretLevelName=#{secretLevelName}
			</if>
			<if test=" secretLevelWeight != null ">
			  and secretLevelWeight=#{secretLevelWeight}
			</if>
			<if test=" useStateName != null ">
			  and useStateName=#{useStateName}
			</if>
			<if test=" useStateMemo != null ">
			  and useStateMemo=#{useStateMemo}
			</if>
			<if test=" osName != null ">
			  and osName=#{osName}
			</if>
			<if test=" areaType != 0 ">
			  and areaType=#{areaType}
			</if>
			<if test=" equipTypeId != null ">
			  and equipTypeId=#{equipTypeId}
			</if>
			<if test=" equipTypeName != null ">
			  and equipTypeName=#{equipTypeName}
			</if>
			<if test=" equipTypeRemark != null ">
			  and equipTypeRemark=#{equipTypeRemark}
			</if>
			<if test=" uniqueID != null ">
			  and uniqueID=#{uniqueID}
			</if>
			<if test=" sjGRQ != 0 ">
			  and sjGRQ=#{sjGRQ}
			</if>
			<if test=" glCZ != 0 ">
			  and glCZ=#{glCZ}
			</if>
			<if test=" xnJ != null ">
			  and xnJ=#{xnJ}
			</if>
			<if test=" dyP != null ">
			  and dyP=#{dyP}
			</if>
			<if test=" orderTax != 0 ">
			  and orderTax=#{orderTax}
			</if>
			<if test=" gq != null ">
			  and gq=#{gq}
			</if>
			<if test=" klJ != null ">
			  and klJ=#{klJ}
			</if>
			<if test=" keepSecretNumber != null ">
			  and keepSecretNumber=#{keepSecretNumber}
			</if>
		</where> 
		 order BY ${columnName}
	</select>
 
</mapper>
